@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

*:where(:not(iframe, canvas, img, svg, video, svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

:root {
	--c-accent: #{setting.$myAccent};

	@include tool.darkmode {
		--c-accent: #{setting.$mydarkAccent};
	}

	color-scheme: light dark;
}

body {
	--font-family: #{setting.$font-family};
	--line-height: #{map.get(setting.$lineHeight,m)};
	--color: #{map.get(setting.$pickupColor, text-primary)};
	--background-color: #{map.get(setting.$pickupColor, bg-primary)};

	min-height: 100svh;
	font-family: var(--font-family);
	font-feature-settings: "pkna";
	font-optical-sizing: auto;
	line-height: var(--line-height);
	color: var(--color);
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

b,
strong {
	font-weight: map.get(setting.$fontWeight, b);
}

small {
  font-size: setting.f-font-size(xs);
}

a,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  width: auto;
  height: 1em;
}

ol,
ul,
details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}