@use "sass:map";
@use "../settings" as setting;

.c-sq-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: setting.f-get-space(xl);
	aspect-ratio: #{map.get(setting.$aspect, square)};
	border-radius: map.get(setting.$borderRadius,s);
	outline-style: solid;
}

.\:brd-none {
	border-color: transparent;
}

.\:btn-round {
	border-radius: 50%;
}