@use "sass:map";
@use "../settings" as setting;

.c-rect-btn,
.c-sq-btn {
	border-radius: map.get(setting.$borderRadius,s);
	outline-style: solid;
}

.c-rect-btn {
	display: inline-flex;
	align-items: baseline;
}

.c-sq-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: setting.f-get-space(xl);
	aspect-ratio: #{map.get(setting.$aspect, square)};
}

.\:brd-none {
	border-color: transparent;
}

.\:btn-round {
	border-radius: 50%;
}

.\:primary {
	border-color: map.get(setting.$brandColors,myMiddle);
	background-color: map.get(setting.$brandColors,myMiddle);
	color: map.get(setting.$pickupColor, colored-primary);
	&:hover,
	&:focus,
	&:active {
		--lnk-color: #{map.get(setting.$pickupColor, colored-secondary)};
		--lnk-bg: #{map.get(setting.$brandColors,myShade)};
		border-color: map.get(setting.$brandColors,myShade);
		outline-color: map.get(setting.$brandColors,myTint);
	}
}
button:disabled {
	pointer-events: none;
	color: map.get(setting.$pickupColor, text-tertiary);
	background-color: map.get(setting.$pickupColor, bg-tertiary);
	outline-color: map.get(setting.$pickupColor, text-tertiary);
}