@use "sass:map";
@use "../settings" as setting;

.c-logo-eye {
	fill: var(--c-accent);
}

.c-logo-link {
	&:hover,
	&:focus,
	&:active {
		.c-logo-letter {
			color: var(--c-accent);
		}
	}
}
.c-logo-link--header,
.c-logo-link--footer,
.c-text-link--copyright {
	&::after {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: calc(100% + setting.f-get-space(m));
		width: clamp(calc(100% + setting.f-get-space(s)),map.get(setting.$breakpoints,overs),calc(100% + setting.f-get-space(m)));
	}
}