@use "sass:map";
@use "../settings" as setting;

.c-content-l,
.c-content-m,
.c-label-l,
.c-label-m,
.c-entry p {
  letter-spacing: map.get(setting.$letterSpacing, m);
}

.c-content-l,
.c-content-m,
.c-suppl-l,
.c-suppl-m,
.c-entry p {
  font-weight: map.get(setting.$fontWeight, r);
  line-height: map.get(setting.$lineHeight, l);
}

.c-content-l,
.c-entry p {
  font-size: setting.f-font-size(m);
}

.c-content-m,
.c-label-l {
  font-size: setting.f-font-size(s);
}

.c-label-l,
.c-label-m {
  font-weight: map.get(setting.$fontWeight, m);
}

.c-label-m {
  font-size: setting.f-font-size(xs);
}

.c-suppl-l,
.c-suppl-m {
  letter-spacing: map.get(setting.$letterSpacing, s);
}

.c-suppl-l {
  font-size: setting.f-font-size(xs);
}

.c-suppl-m {
  font-size: setting.f-font-size(2xs);
}

.c-text-link {
	&:visited {
		color: map.get(setting.$pickupColor, colored-secondary);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--c-accent);
	}
}
.c-follow-heading,
.c-copy-right,
.c-side-copy-right {
	font-variation-settings: "slnt" -10, "opsz" 144;
}
.c-copy-right {
	&:hover,
	&:focus,
	&:active {
		color: var(--c-accent);
	}
}
.c-nav-link {
	&:hover,
	&:focus,
	&:active {
		color: var(--c-accent);
		background-color: color-mix(in oklab, transparent, currentColor 15%);
	}
}