@use "sass:map";
@use "../settings" as setting;

#sidebar {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 999;
	width: 100%;
	max-width: clamp(
    clamp(231px, #{map.get(setting.$breakpoints,overm)}, 254px),
    #{map.get(setting.$breakpoints,overs)},
    clamp(254px, #{map.get(setting.$breakpoints,overm)}, 342px)
  );
	height: 100%;
	padding: 0 clamp(#{setting.f-get-space(m)}, #{map.get(setting.$breakpoints,overm)}, #{setting.f-get-space(xl)}) 0 var(--space-clamp);
	pointer-events: none;
	visibility: hidden;
  box-shadow: 0 0 1px rgba(map.get(setting.$pickupColor, text-tertiary), .5);
  opacity: 0;

	&[aria-hidden="false"] {
		left: 0;
		pointer-events: auto;
		visibility: visible;
		opacity: 1;

		body:has(&) {
      overflow: hidden;
    }

		& + .c-sidebar-bg {
			display: block;
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
		}
	}
}

.c-sidebar-bg {
  position: fixed;
  inset: 0;
  z-index: 998;
	display: none;
  pointer-events: none;
  cursor: pointer;
  visibility: hidden;
  background: rgba(map.get(setting.$pickupColor, bg-primary), .5);
  opacity: 0;
}

.c-sidebar-bottom {
	max-height: calc(100% - 56px);
	padding-right: clamp(#{setting.f-get-space(s)}, #{map.get(setting.$breakpoints,overm)}, #{setting.f-get-space(m)});
	margin-right: calc((-1 * clamp(#{setting.f-get-space(m)}, #{map.get(setting.$breakpoints,overm)}, #{setting.f-get-space(xl)})) + clamp(#{setting.f-get-space(s)}, #{map.get(setting.$breakpoints,overm)}, #{setting.f-get-space(m)}));
  overflow-y: scroll;
}

.\:brd-b {
	--box-border-w: 0;

	border-bottom: solid 1px map.get(setting.$pickupColor, text-secondary);
}

.\:brd-h {
	--box-border-w: 0;
	border-width: 1px 0;
	border-color: map.get(setting.$pickupColor, text-secondary);
}