@use "sass:map";
@use "../settings" as setting;

$displays: (
  b: block,
  fx: flex,
	ifx: inline-flex,
	tbl: table,
) !default;

@each $prefix, $display in $displays {
  .u-dsp-#{$prefix} {
    display: $display;
  }
}

.\:sq {
	aspect-ratio: #{map.get(setting.$aspect, square)};
}

.\:round {
	--frame-round: 50%;
}

.u-cursor {
	cursor: pointer;
}