@use "sass:map";
@use "../settings" as setting;

@each $key, $name in setting.$fontScale {
	$is_target: $key == 2xl or $key == 3xl;
	@if $is_target {
		.u-fnt-#{$key} {
			font-size: var(--fnt-#{$key});
		}
	}
}
@each $key, $name in setting.$fontWeight {
	$is_target: $key == t or $key == x or $key == l;
	@if $is_target {
		.u-fnt-w#{$key} {
			font-weight: map.get(setting.$fontWeight, $key);
		}
	}
}

.u-lnh-n {
	line-height: map.get(setting.$lineHeight, none);
}

.u-fnt-en,
.\:slnt {
	font-family: setting.$font-family-en;
}

.\:slnt {
	font-variation-settings: "slnt" -10, "opsz" 144;
}

.\:has-color {
	color: #{map.get(setting.$brandColors, myMiddle)};
}

.\:txt-sec {
	color: map.get(setting.$pickupColor, text-secondary);
}
/*
.\:txt-ter {
	color: map.get(setting.$pickupColor, text-tertiary);
}

.\:txt-qua {
	color: map.get(setting.$pickupColor, text-quaternary);
}
*/

.\:txt-alert {
	color: var(--accent-middle);
}

.u-txt-ctr {
	text-align: center;
}

.u-txt-r {
	text-align: right;
}

.\:txt-trim {
	display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--trim-line, 1);
}
.\:two-line {
	--trim-line: 2;
}
.\:three-line {
	--trim-line: 3;
}