.u-display-inline-flex {
	display: inline-flex;
}
.u-display-flex {
	display: flex;
}
.u-align-items-center {
	align-items: center;
}
.u-justify-content-center {
	justify-content: center;
}

.u-flex-shrink-none {
	flex-shrink: 0;
}