@use "../tools" as tool;

.u-fx-shn {
	flex-shrink: 0;
}

.u-fx-ctr {
	justify-content: center;
}

.u-fx-y-ctr {
	align-items: center;
}

.\:ch-glow {
	flex-grow: 1;
}

.\:hr-ord-rev {
	@include tool.max-screen(703px) {
		order: 2;
	}
}