@use "sass:map";
@use "../settings" as setting;

@each $key, $name in setting.$fontScale {
	$is_target: if($key == 2xs or $key == xs or $key == s or $key == m or $key == l or $key == xl or $key == 2xl or $key == 3xl, true, false);
	@if $is_target {
		.u-fnt-#{$key} {
			font-size: var(--fnt-#{$key});
		}
	}
}
@each $key, $name in setting.$fontWeight {
	$is_target: if($key == x or $key == l or $key == m or $key == b, true, false);
	@if $is_target {
		.u-fnt-w#{$key} {
			font-weight: map.get(setting.$fontWeight, $key);
		}
	}
}

.u-lnh-n {
	line-height: map.get(setting.$lineHeight, none);
}

.u-fnt-en,
.\:slnt {
	font-family: setting.$font-family-en;
}

.\:slnt {
	font-variation-settings: "slnt" -10, "opsz" 144;
}