@use "index" as settings;
@use "sass:map";
@use "sass:math";

$fontRems: ();
$fontEms: ();
$spaceRems: ();
$spaceEms: ();
$spacePxs: ();

@each $size, $value in settings.$fontScale {
  $fontRems: map-merge($fontRems, ($size: settings.f-font-size($size, rem)));
  $fontEms: map-merge($fontEms, ($size: settings.f-font-size($size, em)));
}

@each $size, $value in settings.$spaceScale {
  $spaceRems: map-merge($spaceRems, ($size: settings.f-get-space($size, rem)));
  $spaceEms: map-merge($spaceEms, ($size: settings.f-get-space($size, em)));
	$spacePxs: map-merge($spacePxs, ($size: settings.f-get-space($size, px)));
}

@each $size, $value in $fontRems {
	:export {
		FontRem-#{$size}: $value;
	}
}

@each $size, $value in $fontEms {
	:export {
		FontEm-#{$size}: $value;
	}
}

@each $size, $value in $spaceRems {
	:export {
		SpaceRem-#{$size}: $value;
	}
}

@each $size, $value in $spaceEms {
	:export {
		SpaceEm-#{$size}: $value;
	}
}

@each $size, $value in $spacePxs {
	:export {
		SpacePx-#{$size}: $value;
	}
}

@each $size, $value in settings.$borderRadius {
	:export {
		BorderRadius-#{$size}: $value;
	}
}

@each $size, $value in settings.$breakpoints {
	:export {
		BreakPoints-#{$size}: $value;
	}
}

:export {
	BreakPointsS: settings.$breaks;
}

:export {
	BreakPointsM: settings.$breakm;
}

:export {
	ReadableLength: settings.$readableLength;
}

@each $size, $value in settings.$aspect {
	:export {
		Aspect-#{$size}: $value;
	}
}

@each $name, $value in settings.$pickupColor {
	:export {
		#{$name}: $value;
	}
}

@each $name, $value in settings.$brandColors {
	:export {
		BrandColor-#{$name}: $value;
	}
}

@each $size, $value in settings.$fontWeight {
	:export {
		FontWeight-#{$size}: $value;
	}
}

@each $size, $value in settings.$lineHeight {
	:export {
		LineHeight-#{$size}: $value;
	}
}

@each $size, $value in settings.$letterSpacing {
	:export {
		LetterSpacing-#{$size}: $value;
	}
}

:export {
	FontFamilyEn: settings.$font-family-en;
}