.o-box {
	--border-color: transparent;
	--background-color: transparent;
	--color: currentcolor;
	--border-width: 1px;

	color: var(--color);
	background-color: var(--background-color);
	border: var(--border-width) solid var(--border-color);
	outline: var(--border-width) transparent;
	outline-offset: calc(var(--border-width) + -1);
}