@use "../settings" as setting;

.o-cover {
	display: flex;
	flex-direction: column;

	/*

	& > * {
		margin-top: setting.f-get-space(m);
		margin-bottom: setting.f-get-space(m);
	}

	& > :first-child:not(.u-my-auto) {
		margin-top: 0;
	}

	& > :last-child:not(.u-my-auto) {
		margin-bottom: 0;
	}

	*/

}