@use "../settings" as setting;

.o-cover {
	--space: #{setting.f-get-space(m)};

	display: flex;
	flex-direction: column;

	& > * {
		margin-top: var(--space);
		margin-bottom: var(--space);
	}

	& > :first-child:not(.o-cover__middle) {
		margin-top: 0;
	}

	& > :last-child:not(.o-cover__middle) {
		margin-bottom: 0;
	}

	&__middle {
		margin-top: auto;
		margin-bottom: auto;
	}
}