@use "../settings" as setting;
@use "sass:map";

.o-grid {
	--space: #{setting.f-get-space(l)};

	display: grid;
	gap: var(--space);

	&--tri {
		grid-template-columns: repeat(
      auto-fill,
			minmax(
        clamp(
          clamp((100% - var(--space) * 2) / 3, map.get(setting.$breakpoints, underm), (50% - var(--space) * 0.5)),
          map.get(setting.$breakpoints, underm),
          clamp((50% - var(--space) * 0.5), map.get(setting.$breakpoints, unders), 100%)
        ),
        1fr
      )
    );
	}

	&--quart {
		grid-template-columns: repeat(
      auto-fill,
      minmax(
        clamp(
          clamp((100% - var(--space) * 3) / 4, map.get(setting.$breakpoints, underm), (50% - var(--space) * 0.5)),
          map.get(setting.$breakpoints, underm),
          clamp((50% - var(--space) * 0.5), map.get(setting.$breakpoints, unders), 100%)
        ),
        1fr
      )
    );
	}
}